<h1>Welcome to BugZilla</h1>
	<% if current_user %>
		<%=link_to '<button type="button">Users</button>'.html_safe, userpage_path%>
		<br>
		<br>

		<%=link_to '<button type="button">Projects</button>'.html_safe, projecthome_path%>
		<br>
		<br>
	    <%= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>
	<%else %>
	 	<%= link_to '<button type="button">Signup</button>'.html_safe,new_user_registration_path %>
	    <br>
		<br>
	    <%= link_to '<button type="button">login</button>'.html_safe, new_user_session_path %>
	<% end %>
