  
<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr> 
        <td><%= project.name %></td>
        <% if can? :read, project %>
          <td><%= link_to 'Show', project %></td>
        <% end %>
        <% if can? :update, project %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% end %>
        <% if can? :destroy, project %>
          <td><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <%end%>
      </tr>
  </tbody>
</table>

<br>
<br>
          <% if can? :create, Project %>
            <%=link_to '<button type="button">Add Project</button>'.html_safe, new_project_path%>
          <% end %>
