<%= form_with(model: bug) do |form| %>
<br>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<br>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<br>
  <div class="actions">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot %>
  </div>
<br>

<div class="field">
  <%= form.label "Project :: " %>
  <%= form.collection_select(:project_id, Project.all, :id, :name, :prompt => 'Select a Project') %>
</div>
<br>
<div class="field">
  <%= form.label "Developer :: " %>
  <%= form.collection_select(:user_id, User.developer, :id, :name, :prompt => 'Select a Developer') %>
</div>
<br>
  <div class="field">
    <%= form.label :"Bugtype :: " %>
    <%= form.select :bugtype, (Bug.bugtypes.keys) %>
  </div>
<br>

<div class="field">
    <%= form.label :"Status :: " %>
    <%= form.select :status, (["new","started","completed","resolved"]) %>
</div>


  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

