<h1>Bugs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Screenshot</th>
      <th>BugType</th>
      <th>Status</th>
      <th>Project</th>
      <th>Developer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <td><%= bug.screenshot %></td>
        <td><%= bug.bugtype %></td>
        <td><%= bug.status %></td>
        <td><%= bug.project.name %></td>
        <td><%= bug.user.name %></td>
        
        <% if can? :read, bug %>
          <td><%= link_to 'Show', bug %></td>
        <% end%>
        <% if can? :update, bug %>
          <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <%end%>
        <% if can? :destroy, bug %>
          <td><%= button_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<% if can? :create, Bug%>
  <%=link_to '<button type="button">Add Bug</button>'.html_safe, new_bug_path%>
<%end%>