
<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= image_tag  @bug.screenshot.url if @bug.screenshot? %>
</p>
<p>
  <strong>Type:</strong>
  <%= @bug.bugtype %>
</p>
<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>
<p>
  <strong>Project:</strong>
  <%= @bug.project.name %>
</p>
<p>
  <strong>Developer:</strong>
  <%= @bug.user.name %>
</p>
<br>
<% if can? :update, @bug %>
  <%=link_to '<button type="button">Edit</button>'.html_safe, edit_bug_path(@bug)%>
<%end%>
