<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1>Welcome to BugZilla</h1> <p>
  <% if current_user %>
      <%=link_to '<button type="button">Home</button>'.html_safe, home_path%>
      <%=link_to '<button type="button">Users</button>'.html_safe, userpage_path%>
      <%=link_to '<button type="button">Projects</button>'.html_safe, projects_path%>
      <%=link_to '<button type="button">Bugs</button>'.html_safe, bugs_path%>
      <%=link_to '<button type="button">MyBugs</button>'.html_safe, mybug_path%>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>
      </p>

    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
